<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>462171280750-udbah0rb3q44v1q3e33r7c0sm08srcti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462171280750-udbah0rb3q44v1q3e33r7c0sm08srcti</string>
	<key>API_KEY</key>
	<string>AIzaSyCskbXrM9AnFWnLJ6AiIlBse5fEy391A3I</string>
	<key>GCM_SENDER_ID</key>
	<string>462171280750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nirajjayant.BestGame</string>
	<key>PROJECT_ID</key>
	<string>bestgame-d477b</string>
	<key>STORAGE_BUCKET</key>
	<string>bestgame-d477b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:462171280750:ios:5e7bca8a4481fd3e</string>
	<key>DATABASE_URL</key>
	<string>https://bestgame-d477b.firebaseio.com</string>
</dict>
</plist>